.toilet-image {
    padding-left: 10px;
    padding-right: 10px;
}

.toilet-image img{

    width: 60px; 
    height: 60px;
}

.tiolet--separator {
    padding: 0 20px;
}

.tiolet--actions span {
    padding: 0 5px;
}

.sponsor-logo {
    width: 70px;
    height: 70px;
}

.tiolet--actions img{
    /*padding: 0 5px;*/
}