.event-ticket {
    font-size: 24px;
}

.event-image {
    padding-left: 10px;
    padding-right: 10px;
    width: 30px; 
    height: 30px;
}

.event--separator {
    padding: 0 20px;
}

.event--actions span{
    padding: 0 5px;
}

.event--actions img{
    /*padding: 0 5px;*/
}