<span class="event-ticket">
       <span class="event-image"><img  style="width: 70px; height: 70px;" src="assets/ic_football.png"></span>
       <span>FC Bayern Tickets: Save 20% Buy Now!</span>
       <span class="event--separator">|</span>
       <span class="event--actions">
           <span><img style="width: 35px; height: 35px;" src="assets/red_new.png"><span>Launch in App</span></span>
           <span><img style="width: 45px; height: 45px;" src="assets/green_new.png"><span>Dismiss</span></span>
       </span>
</span>