<span class="">
       <span ng-show="contactImage"><img style="width: 70px; height: 70px;" src="data:image/png;base64, {{contactImage}}" /></span>
       <span class="phone-image"><img  style="width: 30px; height: 30px;" src="assets/phone.png"></span>
       <span>{{contactName}}</span>
       <span class="live-phone--separator">|</span>
       <span class="live-phone--actions">
           <span><img style="width: 23px; height: 23px;" src="assets/red_new.png"> Answer</span>
           <span><img style="width: 30px; height: 30px;" src="assets/green_new.png"> Silence</span>
       </span>
</span>
