.alert-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    overflow: none;
    color: white;
    font-size: 14px;
    z-index: 10000;
}

.alert-pulse {
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    border-radius: 5px;
}


.pulse {
    animation: pulse 1s infinite;
    animation-duration: 1s;
    animation-play-state: running;
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.25, 1.25, 1.25);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}